<!DOCTYPE html>
{% extends 'simple_tracker/base.html' %}
{% block head_block %}
  <title>Remove Class</title>
  <style media="screen">
    h1{
      margin: 30px;
    }
    .my-btn{
      width: 100%;
    }
  </style>
{% endblock %}
{% block body_block %}
<div class="container text-center">
  <h1 class="text-center">Choose the class you want to remove!</h1>
  <form method="post" target="_self">
    <div class="form-group text-center">
      {{form.as_p}}
      {% csrf_token %}
    </div>
    <input type="submit" name="Submit" value="Submit" class="btn btn-primary my-btn">
  </form>
</div>
{% endblock %}
